@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
.loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }
  .loading p {
    font-size: 2em; }

.navbar-dark {
  background-color: #000;
  font-weight: bold; }
  .navbar-dark .nav-link {
    display: inline-block; }
  .navbar-dark .nav-link:hover {
    color: #fff200 !important; }
    .navbar-dark .nav-link:hover .svg-inline--fa {
      color: #fff200 !important; }

.navbar {
  margin-bottom: 40px; }

.navbar-nav {
  margin-left: auto !important;
  margin-right: auto !important; }
  .navbar-nav .nav-item {
    padding-right: 1rem;
    padding-left: 1rem;
    margin: auto; }
    .navbar-nav .nav-item .dropdown-menu {
      background-color: #000; }
    .navbar-nav .nav-item .dropdown {
      padding-right: 0rem;
      padding-left: 0rem; }
      .navbar-nav .nav-item .dropdown .dropdown-item {
        color: rgba(255, 255, 255, 0.5); }
      .navbar-nav .nav-item .dropdown .dropdown-item:hover {
        color: #fff200;
        text-decoration: none;
        background-color: #000; }

.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px !important;
  background-color: #000;
  color: rgba(255, 255, 255, 0.5); }
  .footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none; }
  .footer a:hover {
    color: #fff200;
    text-decoration: none; }

body {
  font-family: Helvetica, sans-serif;
  background-color: rgba(209, 228, 238, 0.42); }

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px; }
  .title hr {
    width: 30%;
    background: white;
    height: 1px;
    margin-top: 2rem; }
  .title h1 {
    font-family: 'Bebas Neue', cursive;
    color: #000;
    text-align: center;
    font-size: 4rem !important; }

.drink-list, .ingredient-list {
  min-height: 90vh; }
  .drink-list .card, .ingredient-list .card {
    background-color: rgba(209, 228, 238, 0.42);
    border-radius: 0em !important;
    border: none;
    font-family: 'Rubik'; }
  .drink-list .card:hover, .ingredient-list .card:hover {
    border: 1px solid #fff200;
    background-color: rgba(255, 255, 255, 0.281); }
  .drink-list a, .ingredient-list a {
    color: #000;
    text-decoration: none; }
  .drink-list a:hover, .ingredient-list a:hover {
    color: #000;
    text-decoration: none; }
  .drink-list .card-title, .ingredient-list .card-title {
    text-align: center;
    min-height: 48px;
    margin: auto;
    font-size: 1.3em; }
  .drink-list .card-img, .ingredient-list .card-img {
    border-radius: 0% !important; }

.drink-img {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.281), 0 6px 20px 0 rgba(255, 255, 255, 0.281); }

.drink-leftInfo .tagList {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }
  .drink-leftInfo .tagList .tagElem {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border-style: inherit;
    background-color: #474747d5; }

.drink-rightInfo a {
  color: #474747d5;
  text-decoration: none; }
.drink-rightInfo a:hover {
  color: #00054b;
  text-decoration: none; }
.drink-rightInfo .card {
  background-color: rgba(255, 255, 255, 0.082);
  color: #000;
  list-style-image: url(./glass-martini-alt-solid.svg); }
.drink-rightInfo .coctail-list {
  margin-top: 20px;
  margin-bottom: 20px; }
  .drink-rightInfo .coctail-list .coctail-list-item {
    height: 30vh;
    width: 80vw;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 2.2em;
    text-align: center; }
    .drink-rightInfo .coctail-list .coctail-list-item a:link {
      color: #000;
      text-decoration: none; }
    .drink-rightInfo .coctail-list .coctail-list-item a:visited {
      color: #000;
      text-decoration: none; }
    .drink-rightInfo .coctail-list .coctail-list-item a:hover {
      color: #a09999;
      text-decoration: none; }

/*# sourceMappingURL=App.css.map */
