$accentColor: #fff200;
$blueAccentColor: #00054b;
$grayColor: #474747d5;
$backgroundColor: rgba(209, 228, 238, 0.42);
$shadowColor: rgba(255, 255, 255, 0.281);
$lightFont: rgba(255,255,255,.5);
$darkFont: #000;
$fontMainSize: 20px;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@mixin margin-padding($margin_top_bottom: 10px,
$margin_left_right: auto,
$padding_top_bottom:10px,
$padding_left_right: 20px) {
    margin-top: $margin_top_bottom; 
    margin-bottom: $margin_top_bottom;
    margin-left: $margin_left_right;
    margin-right: $margin_left_right;
    padding-top: $padding_top_bottom; 
    padding-bottom: $padding_top_bottom;
    padding-left: $padding_left_right;
    padding-right: $padding_left_right;
}

@mixin shadow($firstColor,
$secondColor) {
    box-shadow: 0 4px 8px 0 $firstColor, 0 6px 20px 0 $secondColor;
}

@mixin link($color) {
    color: $color;
    text-decoration: none;
}

.main-body{
    min-height: 90vh !important;
}
.loading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    p{
        font-size: 2em;
    }
}
.navbar-dark {
    background-color: $darkFont;
    font-weight: bold;
    .nav-link{
         display: inline-block;
    }
    .nav-link:hover{
        color: $accentColor!important; 
        .svg-inline--fa{
            color: $accentColor!important;
        }
    }
}
.navbar{
    margin-bottom: 40px;
}
.navbar-nav{
    margin-left: auto!important;
    margin-right: auto!important;
    .nav-item {
        padding-right: 1rem;
        padding-left: 1rem;
        margin: auto;
        .dropdown-menu{
            background-color: $darkFont;
        }
        .dropdown{
            padding-right: 0rem;
            padding-left: 0rem;
            .dropdown-item{
                color: $lightFont;
            }
            .dropdown-item:hover{
                @include link($accentColor);
                background-color: $darkFont;
            }
        }
    }
}

.footer{
    @include margin-padding(40px,auto,40px,20px);
    margin-bottom: 0px!important;
    background-color: $darkFont;
    color: $lightFont;
    a{
        @include link($lightFont)
    }
    a:hover{
        @include link($accentColor)
    }
}

body {
    font-family: Helvetica, sans-serif;
    background-color: $backgroundColor;
}

.title{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    hr {
        width: 30%;
        background: white;
        height: 1px;
        margin-top: 2rem;
    }
    h1 {
        font-family: 'Bebas Neue', cursive;
        color: $darkFont;
        text-align: center;
        font-size: 4rem !important;
    }
}

.drink-list, .ingredient-list{
    .card{
        background-color: $backgroundColor;
        border-radius: 0em!important;
        border: none;
        font-family: 'Rubik';
    }
    .card:hover{
        border: 1px solid $accentColor;
        background-color: $shadowColor;
    }
    a{
        @include link($darkFont);
    }
    a:hover{
        @include link($darkFont);
    }
    .card-title{
        text-align: center;
        min-height: 48px;
        margin:auto;
        font-size: 1.3em;
    }
    .card-img{
     border-radius: 0% !important;
    }
}

.drink-img {
    @include shadow($shadowColor,
    $shadowColor);
}


.drink-leftInfo{
    .tagList{
        @include margin-padding(10px, auto, 10px, 10px);
        .tagElem{
            @include margin-padding(2px,2px,1px ,1px );
            border-style:inherit;
            background-color: $grayColor;
        }
    }
}
.drink-rightInfo{
    a{
        @include link($grayColor);
    }
    a:hover{
        @include link($blueAccentColor);
    }
    .card {
        background-color: rgba(255, 255, 255, 0.082);
        color: $darkFont;
        list-style-image: url(./glass-martini-alt-solid.svg);
    }
    .coctail-list {
        margin-top: 20px;
        margin-bottom: 20px;
        .coctail-list-item {
            height: 30vh;
            width: 80vw;
            padding-top: 10%;
            padding-bottom: 10%;
            font-size: 2.2em;
            text-align: center;
            a:link {
                @include link($darkFont);
            }
            a:visited {
                @include link($darkFont);
            }
            a:hover {
                @include link(rgb(160, 153, 153));
            }
        }
    }
}