.navbar-dark {
    background-color: rgba(139, 10, 10, 0.904);
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}